* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  font-family: sans-serif;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

header {
  padding: 15px 40px;
  background-color: rgba(128, 128, 128, 0.521);
  border-radius: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.title p {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  color: #4a90e2;
  background-color: #f0f7ff;
  transition: 0.3s;
}

body h1{
  font-size: 32px;
  font-weight: 700;
  padding: 20px 40px;
}

.foto_prifile {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

/* header {
  font-size: 32px;
  font-weight: 700;
  padding: 20px 40px;
} */

input[type="radio"] {
  display: none;
}
label {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 5px;
  font-size: 30px;
}
.content {
  display: none;
}

#day1:checked + label,
#day2:checked + label,
#day3:checked + label,
#day4:checked + label,
#day5:checked + label {
  background-color: #2d7dff;
  color: white;
}

#day1:checked ~ .c1,
#day2:checked ~ .c2,
#day3:checked ~ .c3,
#day4:checked ~ .c4,
#day5:checked ~ .c5 {
  display: block;
}

.content h2{
  margin-top: 40px;
  margin-bottom: 20px;
}

.table_h2 {
  margin-top: 40px;
}
table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
  font-family: sans-serif;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
}

th,
td {
  padding: 12px 16px;
  border: 1px;
  border-bottom: 1px solid #e5e7eb;
}

th {
  background: #f3f4f6;
  text-align: left;
  font-size: 600;
}

tr:hover {
  background: #f9fafb;
  padding: 30px;
  border-radius: 20px;
}
